@model List<Employee>

<div class="">
    <h3 class="display-3">
        Index 3
    </h3>
</div>

<h1 class="lead my-2">
    @foreach (var item in Model)
    {
        <h6>@item.FullName</h6>
        <p>@item.Id</p>
        <p><strong>Age: </strong>@item.Age</p>
        <hr />
    }
</h1>